.table-acteurs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }
  
  .button-container {
    margin-bottom: 20px;
    margin-top: -70px;
    margin-left: -160px;
  }
  
  .button-container-get {
    margin-bottom: 20px;
    margin-top: -60px;
    margin-left: 80px;
  }